@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a{
  text-decoration: none;
  color: steelblue;
}

a:hover{
  filter: brightness(120%);
}

.btn {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  padding: 14px 3vw;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-large {
  font-size: 18px;
  width: 100%;
  margin: 10px 0;
}

.btn:hover{
  filter: brightness(120%);
}

.blue{
  background-color: steelblue;
}

.green{
  background-color: lime;
}

.red{
  background-color: red;
}

/* login page and register*/
.form{
  width: 400px;
  margin: 25vh auto;
  background-color: #fff;
  border: 2px solid #c5c5c5;
  border-radius: 10px;
}

.form h1{
  margin: 5%;
  text-align: center;
  font-size: 22px;
  color: steelblue;
}

.form-content{
  margin: 5%;
}

.form input {
  width: 100%;
  height: 50px;
  border: 2px solid #c5c5c5;
  border-radius: 10px;
  font-size: 17px;
  box-sizing: border-box;
  padding: 0 3%;
  margin: 10px 0;
}

.link{
  text-align: center;
}

/* surveys and question*/
.input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"], input[type="number"], textarea, select{
  width: 30%;
  height: 50px;
  padding: 12px 1%;
  margin: 10px 0;
  border: 2px solid #c5c5c5;
  border-radius: 10px;
}

textarea{
  width: 100%;
  height: 100px;
}

input[type="number"]{
  height: 30px;
  width: 10%;
}

label {
  padding: 5px;
  display: inline-block;
  font-weight: bold;
}

.radio-container{
  margin: 0 20px;
}
