@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5
}

.page-content {
  margin: 0 10%;
}

a{
  text-decoration: none;
  color: steelblue;
}

a:hover{
  filter: brightness(120%);
}

.btn-container{
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: steelblue;
  padding: 14px 3vw;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-large {
  font-size: 18px;
  width: 100%;
  margin: 10px 0;
}

.btn:hover{
  filter: brightness(120%);
}

.blue{
  background-color: steelblue;
}

.green{
  background-color: lime;
}

.red{
  background-color: red;
}

img{
  height: 100%;
  width: 100%;
}

/* login page and register*/
.form{
  width: 400px;
  margin: 25vh auto;
  background-color: #fff;
  border: 2px solid #c5c5c5;
  border-radius: 10px;
}

.form h1{
  margin: 5%;
  text-align: center;
  font-size: 22px;
  color: steelblue;
}

.form-content{
  margin: 5%;
}

.form input {
  width: 100%;
  height: 50px;
  border: 2px solid #c5c5c5;
  border-radius: 10px;
  font-size: 17px;
  box-sizing: border-box;
  padding: 0 3%;
  margin: 10px 0;
}

.link{
  text-align: center;
}

/* surveys and question*/
.input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"], input[type="number"], textarea, select{
  width: 30%;
  height: 50px;
  padding: 12px 2%;
  margin: 10px 0;
  border: 2px solid #c5c5c5;
  border-radius: 10px;
}

textarea{
  width: 100%;
  height: 100px;
}

input[type="number"]{
  height: 50px;
  width: 9%;
}



label {
  padding: 5px;
  display: inline-block;
  font-weight: bold;
}

.radio-container{
  margin: 0 20px;
}

.surveys-container{
  display: flex;
  flex-direction: column;
}

.survey-container{
  background-color: #fff;
  box-shadow: 0 0 5px #c5c5c5;
  border-radius: 0 0 10px 10px;
  padding: 20px 5%;
}

.header-container{
  background-color: steelblue;
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 20px 5%;
  margin-top: 20px;
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px 10%;
  background-color: black;
}

nav h1{
  font-size: 18px;
  color: white;
  font-weight: 600;
}

#profile-logo {
  height: 100%;
  float: right;
  cursor: pointer;
}

input.description{
  width: 100%;
}

.flex-container{
  display: flex;
  justify-content: space-between;
}

.answers-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

nav a{
  color: white;
}




